.menuContainerWrapper{
  display: flex;
  justify-content: center;
 .menuContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }
   @media (max-width: 1060px) {
     grid-template-columns: repeat(2, 1fr);
   }
   @media (max-width: 730px) {
     grid-template-columns: repeat(1, 1fr);
   }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
    max-width: 280px;
    height: 459px;
    //border: 1px solid black;
    border-radius: 10px;

    .price {
      width: 100%;
      display: flex;
      justify-content: space-between;

      span {
        font-weight: bold;
      }

      button {
        border-radius: 10px;
        background-color: white;
        border: 1px solid #fe5f1e;
        color: #fe5f1e;

        &:hover {
          background-color: #fe5f1e;
          color: white;
        }
      }
    }

    .pizzaSelection {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 10px;
      width: 280px;
      height: 85px;
      background-color: #f3f3f3;

      .selectionText {
        display: flex;
        justify-content: space-around;

        .active {
          background-color: #f9f9f9;
        }

        button {
          width: 131px;
          height: 32px;
          border: none;
          background-color: #f3f3f3;
          border-radius: 5px;

          &:hover {
            cursor: pointer;
          }

        }
      }
    }

      .selectionRadius {
        display: flex;
        justify-content: space-around;

        .active {
          background-color: #f9f9f9;
        }
        button {
          width: 86px;
          height: 32px;
          border: none;
          background-color: #f3f3f3;
          border-radius: 5px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .radius {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

    }

  }

}