.menuContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
    max-width: 280px;
    height: 459px;
    //border: 1px solid black;
    border-radius: 10px;

    .price{
      width: 100%;
      display: flex;
      justify-content: space-between;
      span{
        font-weight: bold;
      }
      button{
        border-radius: 10px;
        background-color: white;
        border: 1px solid #fe5f1e;
        color:#fe5f1e;
      }
    }
    .pizzaSelection{
   display: flex;
      flex-direction: column;
      justify-content: space-around;
     border-radius: 10px;
      width: 280px;
      height: 85px;
      background-color: #f3f3f3;
      .selectionText{
        display: flex;
        justify-content: space-around;
        button{
          width: 131px;
          height: 32px;
          border:none;
          background-color:#f3f3f3;
          border-radius: 5px;
          &:hover{
            background-color: #f9f9f9;
          }
        }
      }
      .selectionRadius{
        display: flex;
        justify-content: space-around;


        button{
          width: 86px;
          height: 32px;
          border:none;
          background-color:#f3f3f3 ;
          border-radius: 5px;
          &:hover{
            background-color: #f9f9f9;
          }
        }
      }
      .radius{
      display: flex;
        justify-content: space-between;
        align-items: center;
    }

    }

  }

}