.cartContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  width: 70vw;
  height: 100%;
  .count{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;

  }
  .headerCart{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 40px;

    h3{
      margin: 0;
      padding: 0;
    }
    span{
      margin: 0;
      padding: 0;
      cursor: pointer;
    }
  }
  .itemCart{
    display: grid;
    grid-template-columns: 5fr 2.5fr 0.5fr;

    width: 70%;
    border-top: 1px solid lightgrey;
    margin-bottom: 20px;

    .delete{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 200px;
      margin: 60px 0;
      span{
        font-weight: bold;
      }
      button{
        border-radius: 50%;
        border: 1px solid #fe5f1e;
        background: white ;
      }

    }
    .count{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60px;
      button{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border:1px solid #fe5f1e;
      }
    }
  }
}