@import 'src/common/style/variables';


.mainBlock {
  min-height: 100vh;
  padding-top: 50px;
  width: 100%;
  background: orange;

  .container {
    /*border: 1px solid black;*/
    max-width: 1260px;
    min-height: 80vh;
    padding: 0 15px;
    margin: 0 auto;
    background: white;
    border-radius: 20px;
    padding-top: 20px;

  }
}

