@import 'src/common/style/variables';

body {
  background: orange;
  .mainBlock {
margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      /*border: 1px solid black;*/
      max-width: 1260px;
      min-height: 80vh;
      padding: 0 15px;
      margin: 0 auto;
      background: white;
      border-radius: 20px;
      padding-top: 20px;

    }
  }
}

@media screen and (max-width: 710px) {
  body {

  padding: 0 15px;
  }
}
