
.logo {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  width: 50%;

  img {
    margin-right: 10px;
  }

  align-items: center;

  h4, p {
    margin: 0;
  }
}

@media screen and (max-width: 430px) {
  .logo {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 200px;

  }

}