@import 'src/common/style/variables.scss';

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $border;
}
.container{
  width: 95%;
  height: 95%;
  border:1px solid;
  border-radius: 10px;
  background: white;
}

